core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
db.json
cars.json
users.json
trips.json
requests.json
locations.json
messages.json
regions.json
ratings.json
purposes.json
notepad.py
templates/notepad.html
