

.nolink[itemprop="url"] {
    pointer-events: none;
    cursor: default;
  }

  /* Prevent the click event from being intercepted by the accordion */
.accordion-collapse a {
    pointer-events: auto;
}