{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load customfilters %}
{% url 'about' as about_url %}



{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-light">
            <div class="px-3 py-0 d-sm-flex justify-content-between align-items-center mt-auto">
                REQUESTED RIDES (HITCHES) IN SELECTED REGION:
                <form method="get" action="{% url 'rides_view' %}" class="d-flex mt-3" id="filterForm">
                    {% csrf_token %}
                    <span class="mt-2 me-1">REGION:</span>{{ region_filter_form|crispy }}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FOR OFFERING A RIDE - HIDDEN BY DEFAULT-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Offer a ride...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Offer Ride</button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL FOR HITCH REQUEST -->

<div class="container-sm text-center">
    <div class="row gx-5">
        <div class="col">

            <div class="accordion" id="RidesAccordionList">

                <!-- loop through each trip in the db-->
                {% for t, form, average_rating, hitch_seats_list in trips %}
                <form method="post">
                    {% csrf_token %}

                    <!----------------------------- accordion header row starts here --------------------------->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{t.id}}" aria-expanded="false"
                                aria-controls="flush-collapse{{t.id}}">

                                <!--------------------- TOP ROW ---------------------->
                                <div class="container px-1">
                                    <div class="row d-flex justify-content-sm-start">
                                        <!-- Depart -->
                                        <div class="col-md-auto fs-4">{{t.depart.city}}</div>

                                        <!-- Trip Arrows -->
                                        <div class="col-md-auto fs-4">
                                            <i class="fa-solid fa-angle-right" data-bs-toggle="tooltip"
                                                data-bs-placement="left" data-bs-custom-class="custom-tooltip"
                                                data-bs-title="Single one way trip"></i>
                                        </div>

                                        <!-- Destination -->
                                        <div class="col-md-auto fs-4">{{t.destination.city}}</div>

                                        <!-- Depart Date -->
                                        <div class="col-md-auto my-1 text-secondary">
                                            <span>
                                                <div>
                                                    {{ t.depart_date|DM }} at {{ t.depart_time|HHMM }}
                                                    {% if t.depart_window != None %}
                                                    <span class="text-secondary" data-bs-toggle="tooltip"
                                                        data-bs-placement="left" data-bs-custom-class="custom-tooltip"
                                                        data-bs-title="Shows departure time flexibility. Please be on time!">
                                                        (±{{ t.depart_window|HMM }})
                                                    </span>
                                                    {% endif %}
                                                    {% if t.direction == 1 %}
                                                    <span data-bs-toggle="tooltip" data-bs-placement="left"
                                                        data-bs-custom-class="custom-tooltip"
                                                        data-bs-title="Planned return time. Please check with driver.">
                                                        (<i class="fa-solid fa-circle-arrow-left"></i>
                                                        {{ t.return_time|HHMM }})
                                                    </span>
                                                    {% endif %}
                                                </div>
                                            </span>
                                        </div>

                                        <!-- Trip Symbols -->
                                        <div class="col-md-auto fs-4 px-1">
                                            
                                            <!-- purpose icon - HTML stored in DB -->
                                            <span class="mx-1" data-bs-toggle="tooltip" data-bs-placement="left"
                                                data-bs-custom-class="custom-tooltip"
                                                data-bs-title="{{ t.purpose.purpose }}">
                                                {{ t.purpose.purpose_icon|safe }}
                                            </span>
                                            <span class="mx-1">
                                                <!-- Smoking or No Smoking -->
                                                {% if t.vehicle.smoking == True %}
                                                <i class="fa-solid fa-ban-smoking text-danger fs-4"
                                                    ></i>
                                                {% else %}
                                                <i class="fa-solid fa-smoking" data-bs-toggle="tooltip" data-bs-placement="left"
                                                data-bs-custom-class="custom-tooltip"
                                                data-bs-title="Request smoking ok"></i>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div  class="col-md-auto fs-4 px-1">

                                        </div>
                                    </div>

                                    <!--------------------- BOTTOM ROW ---------------------->
                                    <div class="row  d-flex justify-content-start text-secondary">

                                        <!-- Display any notes from driver -->
                                        
                                        <div class="col-12 message mt-2">
                                            Requested by: {{t.driver}} 
                                            {% if t.note %}
                                            <i class="fa-regular fa-message ms-4"></i>
                                            {{ t.note }}
                                            {% endif %}
                                        </div>
                                        
                                    </div>

                                </div>

                    </div>
                    </button>
                    </h2>


                    <!------------------------------------      drop down details form      ------------------------------------------>
                    <div id="flush-collapse{{t.id}}" class="accordion-collapse collapse border bg-light"
                        data-bs-parent="#RidesAccordionList">

                        <div class="accordion-body">
                            <div class="container-sm mx-0 px-0">

                                <!---------      TOP ROW     ----------->
                                <div class="row">

                                    <div class="container-sm mx-0 px-0">

                                        <div class="row">
                                            <!--depart address -->
                                            <div class="col-sm-3">
                                                <div class="container text-secondary mx-0 px-0">
                                                    <p class="text-primary text-start small mb-0">From:</p>
                                                    <p class="text-start small mb-0">{{ t.depart.street }}</p>
                                                    <p class="text-start small mb-0">{{ t.depart.city }}</p>
                                                    <p class="text-start small mb-0">{{ t.depart.zipcode }}</p>
                                                </div>
                                            </div>

                                            <!--destination address -->
                                            <div class="col-sm-3">
                                                <div class="container text-secondary mx-0 px-0">
                                                    <p class="text-primary text-start small mb-0">To:</p>
                                                    <p class="text-start small mb-0">{{ t.destination.street }}</p>
                                                    <p class="text-start small mb-0">{{ t.destination.city }}</p>
                                                    <p class="text-start small mb-0">{{ t.destination.zipcode }}</p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <!-----------      MIDDLE ROW        ---------->
                                <div class="row">
                                    <div class="col-sm-12">

                                    </div>
                                </div>
                                <!-- BOTTOM ROW -->
                                <div class="row">
                                    <div class="col-sm-6 px-0">
                                        
                                    </div>
                                </div>

                                <div class="">
                                    <form method="post" action="{% url 'account_login' %}?next={{ request.path }}">
                                        {% csrf_token %}
                                        {% if user.is_authenticated %}
                                            {% if user != t.driver %}
                                                <div class="col">
                                                    <button type="button" class="btn btn-primary mx-1 my-3"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                            data-bs-whatever="">
                                                        Request to Hitch a Ride!
                                                    </button>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="col">
                                                <!-- ensure after login return to originating page, not about page-->
                                                <a class="btn btn-primary my-1 mx-1" href="{% url 'account_login' %}?next={{ request.path }}" role="button">Sign In to offer a ride</a>
                                            </div>
                                        {% endif %}
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>


                    {% endfor %}
                </form>
            </div>
        </div>

    </div>
</div>
</div>



{% endblock %}