{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load customfilters %}
{% url 'about' as about_url %}

{% block content %}
<!-- HEADER ROW -->
<div class="container-fluid  sticky-top">
    <div class="row">
        <div class="col-12 bg-light gx-0">
            <div class="px-3 py-0 d-sm-flex justify-content-between align-items-center mt-auto border-bottom shadow">
                <div>REQUESTED RIDES (HITCHES) IN SELECTED REGION:</div>
                {% if user.is_authenticated %}
                    <button name="ride_trip_id" value="{{ t.id }}" type="button"
                        class="badge rounded-pill bg-success fs-4 mt-2 mt-md-0 me-2" data-bs-toggle="modal"
                        data-bs-target="#OfferModal" data-bs-whatever="" data-trip-id="{{ t.id }}">
                        <i class="fa-solid fa-car"> </i> REQUEST TO HITCH
                    </button>
                    {% else %}
                    <div>
                        <a class="btn btn-success badge rounded-pill fs-4 mt-2 mt-md-0 me-2"
                            href="{% url 'account_login' %}?next={{ request.path }}">
                            <i class="fa-solid fa-road-circle-exclamation"></i> START HERE</a>
                    </div>
                    {% endif %}
                <form method="get" action="{% url 'rides_view' %}" class="d-flex mt-3" id="filterForm">
                    {% csrf_token %}
                    <span class="mt-2 me-1">{{ region_filter_form|crispy }}</span>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FOR REQUESTING A HITCH - HIDDEN BY DEFAULT-->
<div class="modal fade" id="OfferModal" tabindex="-1" aria-labelledby="OfferModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="OfferModalLabel">Where do you need to go?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'rides_view' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        REQUEST A HITCH IS COMING SOON!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button name="ride_trip_id" value="" type="submit" class="btn btn-primary">Request Hitch</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL FOR HITCH REQUEST -->

<div class="alert alert-warning" role="alert">
    HITCH REQUESTS COMING SOON...
</div>

{% endblock %}