{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% url 'locations' as locations_url %}
{% url 'user_profile' as user_profile_url %}
{% url 'vehicles' as vehicles_url %}
{% url 'locations' as locations_url %}


{% block content %}

<!-- MODAL FOR ADDING A VEHICLE-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="fs-5" id="exampleModalLabel">Add new Location</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" action="{% url 'locations' %}" method="post" autocomplete="off">
                    {% csrf_token %}

                    <div class="row mb-2">
                        <div class="col-6">{{ form.make|as_crispy_field }}</div>
                        <div class="col-6">{{ form.model|as_crispy_field }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">{{ form.type|as_crispy_field }}</div>
                        <div class="col-6">{{ form.year|as_crispy_field }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">{{ form.engine|as_crispy_field }}</div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-6">{{ form.max_pax|as_crispy_field }}</div>
                        <div class="col-6">{{ form.smoking|as_crispy_field }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">{{ form.status|as_crispy_field }}</div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" name="save" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODAL-->


<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-light">
            <div class="p-3">
                USER PROFILE <span class="text-primary">{{ username }} ({{ age }})</span>
            </div>
        </div>
    </div>
</div>

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders nav-tabs mb-2">
        <a class="nav-link ms-0" href="{% url 'user_profile' %}">Profile</a>
        <a class="nav-link" href="{% url 'locations' %}">Vehicles</a>
        <a class="nav-link active" href="{% url 'locations' %}">Locations</a>

    </nav>
    
     <!------------- TAB CONTENT ---------------->
    <div class="row">
        <div class="col-md-8">
            <!-- HEADER -->
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h3>Your Locations</h3>
                </div>

                <!-- main content under here:  -->
                <div class="card-body mx-0 px-0">




                    
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/dd9slw6f0/image/upload/v1705659214/map-pins_lgwfk6.jpg"
                class="img-fluid rounded" alt="A map with pins">

        </div>
    </div>
</div>



{% endblock %}