{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load customfilters %}

{% block content %}


<div class="container-fluid  sticky-top shadow">
    <div class="row">
        <div class="col-12 bg-light">
            <div class="p-3 border-bottom">
                <i class="fa-regular fa-message"></i> MESSAGE CENTER <span class="font-weight-bold fs-4"> {{ username }} </span>
            </div>
        </div>
    </div>
  </div>


<!-- <div class="alert alert-warning" role="alert">
    MESSAGES COMING SOON...
</div> -->

 
<div class="container">
    {% for messages in trips %}
        <div class="card mb-4 border-2">
            <div class="card-header bg-light d-md-flex justify-content-between align-items-center px-1 text-white">
                <span class="mb-3 mb-md-0">
                    <div class="fs-4"">
                        <span class="badge bg-secondary">{{ messages.0.trip.purpose.purpose_icon|safe }}</span>
                        <span class="badge bg-secondary">
                            {{ messages.0.trip.depart_date|DM }} |
                            {{ messages.0.trip.depart_time|HHMM }}
                        </span>
                        <span class="badge bg-secondary">{{ messages.0.trip.depart.city }}</span>
                        <span class="badge bg-secondary">{{ messages.0.trip.destination.city }}</span>
                      </div>
                </span>
                <!-- <div class="d-flex align-items-center">
                    <a href="#" class="btn btn-primary me-2 mt-2 mt-sm-0">Mark Read</a>
                    <a href="#" class="btn btn-danger mt-1 mt-sm-0">X</a>
                </div> -->
            </div>
            <div class="card-body">
                {% for message in messages %}
                    <div class="{% if message.sender == username %}text-end{% endif %} mb-4">
                        <h6 class="card-title mb-0">{{ message.sender }}</h6>
                        <p class="card-text text-secondary">{{ message.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}