{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load customfilters %}




{% block content %}
<div class="container-fluid  sticky-top shadow">
    <div class="row">
        <div class="col-12 bg-light">
            <div class="p-3 border-bottom">
                <i class="fa-regular fa-message"></i> MESSAGE CENTER
            </div>
        </div>
    </div>
  </div>



<div class="alert alert-warning" role="alert">
    MESSAGES COMING SOON...
</div>




{% endblock %}