{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load customfilters %}
{% url 'about' as about_url %}



{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-light">
            <div class="px-3 py-0 d-sm-flex justify-content-between align-items-center mt-auto">
                UPCOMING RIDES IN SELECTED REGION:
                <form method="get" action="{% url 'rides' %}" class="d-flex mt-3" id="filterForm">
                    {% csrf_token %}
                    <span class="mt-2 me-1">REGION:</span>{{ region_filter_form|crispy }}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FOR HITCH REQUEST - HIDDEN BY DEFAULT-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Request a ride...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Request Ride</button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL FOR HITCH REQUEST -->

<div class="container-sm text-center">
    <div class="row gx-5">
        <div class="col">

            <div class="accordion" id="RidesAccordionList">

                <!-- loop through each vehicle in the db-->
                {% for t, form, average_rating in trips %}
                <form method="post">
                    {% csrf_token %}

                    <!----------------------------- accordion header row starts here --------------------------->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{t.id}}" aria-expanded="false"
                                aria-controls="flush-collapse{{t.id}}">

                                <!--------------------- TOP ROW ---------------------->
                                <div class="container px-1">
                                    <div class="row d-flex justify-content-start">
                                        <!-- Depart -->
                                        <div class="col-md-auto fs-4">{{t.depart.city}}</div>

                                        <!-- Trip Arrows -->
                                        <div class="col-md-auto fs-4">

                                            {% if t.recurring == False and t.direction == 0 %}
                                            <i class="fa-solid fa-angle-right" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="left"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="Single one way trip"></i>
                                            {% elif t.recurring == True and t.direction == 0 %}
                                            <i class="fa-solid fa-angles-right"
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="left"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="Multiple One Way Trips"></i>
                                            {% elif t.recurring == False and t.direction == 1 %}
                                            <i class="fa-solid fa-angle-left"
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="left"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="Single Return Trip"></i><i
                                                class="fa-solid fa-angle-right"></i>
                                            {% elif t.recurring == True and t.direction == 1 %}
                                            <i class="fa-solid fa-angles-left"
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="left"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="Multiple Return Trips"></i><i
                                                class="fa-solid fa-angles-right"></i>
                                            {% endif %}
                                        </div>

                                        <!-- Destination -->
                                        <div class="col-md-auto fs-4">{{t.destination.city}}</div>

                                        <!-- Depart Date -->
                                        <div class="col-md-auto my-1 text-secondary">
                                            <span>
                                                <div>
                                                    {{ t.trip_date|DM }} at {{ t.depart_time|HHMM }}
                                                    {% if t.depart_window != None %}
                                                    <span class="text-secondary" data-bs-toggle="tooltip"
                                                        data-bs-placement="left" data-bs-custom-class="custom-tooltip"
                                                        data-bs-title="Shows departure time flexibility. Please be on time!">
                                                        (±{{ t.depart_window|HMM }})
                                                    </span>
                                                    {% endif %}
                                                    {% if t.direction == 1 %}
                                                    <span data-bs-toggle="tooltip" data-bs-placement="left"
                                                        data-bs-custom-class="custom-tooltip"
                                                        data-bs-title="Planned return time. Please check with driver.">
                                                        (<i class="fa-solid fa-circle-arrow-left"></i>
                                                        {{ t.return_time|HHMM }})
                                                    </span>
                                                    {% endif %}
                                                </div>
                                            </span>
                                        </div>

                                        <!-- Trip Symbols -->
                                        <div class="col-md-auto fs-4 px-1">
                                            <!-- add electic plug icon based for electric and hybrid-->
                                            <span data-bs-toggle="tooltip" data-bs-placement="left"
                                                data-bs-custom-class="custom-tooltip"
                                                data-bs-title="This Vehicle is environmentally friendly!!">
                                                {% if t.vehicle.engine == 2 %}
                                                <span class="mx-1 text-success"><i class="fa-solid fa-plug"></i></span>
                                                {% endif %}
                                                {% if t.vehicle.engine == 3 %}
                                                <span class="mx-1 text-success"><i class="fa-solid fa-plug"></i></span>
                                                {% endif %}
                                            </span>
                                            <!-- vehicle type icon -->
                                            <span class="mx-1">
                                                {% if t.vehicle.type == 3%}
                                                <span class="icon"><i class="fa-solid fa-van-shuttle"></i></span>
                                                {% elif t.vehicle.type == 4 %}
                                                <span class="icon"><i class="fa-solid fa-truck-pickup"></i></span>
                                                {% elif t.vehicle.type == 5 %}
                                                <span class="icon"><i class="fa-solid fa-bus"></i></span>
                                                {% elif t.vehicle.type == 6 %}
                                                <span class="icon"><i class="fa-solid fa-truck"></i></span>
                                                {% else %}
                                                <span class="icon"><i class="fa-solid fa-car"></i></span>
                                                {% endif %}
                                            </span>
                                            <!-- purpose icon - HTML stored in DB -->
                                            <span class="mx-1" data-bs-toggle="tooltip" data-bs-placement="left"
                                                data-bs-custom-class="custom-tooltip"
                                                data-bs-title="{{ t.purpose.purpose }}">
                                                {{ t.purpose.purpose_icon|safe }}
                                            </span>
                                            <span class="mx-1">
                                                <!-- Smoking or No Smoking -->
                                                {% if t.vehicle.smoking == True %}
                                                <i class="fa-solid fa-ban-smoking text-danger fs-4"
                                                    data-bs-toggle="tooltip" data-bs-placement="left"
                                                    data-bs-custom-class="custom-tooltip"
                                                    data-bs-title="This vehicle is non-smoking. Please be respectful."></i>
                                                {% else %}
                                                <i class="fa-solid fa-smoking"></i>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                    <!--------------------- BOTTOM ROW ---------------------->
                                    <div class="row  d-flex justify-content-start text-secondary">

                                        <!-- Display any notes from driver -->
                                        {% if t.note %}
                                        <div class="col-12 message mt-2">
                                            <i class="fa-regular fa-message"></i>
                                            {{ t.note }}
                                        </div>
                                        {% endif %}
                                    </div>

                                </div>

                    </div>
                    </button>
                    </h2>


                    <!------------------------------------      drop down details form      ------------------------------------------>
                    <div id="flush-collapse{{t.id}}" class="accordion-collapse collapse border bg-light"
                        data-bs-parent="#RidesAccordionList">

                        <div class="accordion-body">
                            <div class="container-sm mx-0 px-0">

                                <!---------      TOP ROW     ----------->
                                <div class="row">

                                    <div class="container-sm mx-0 px-0">

                                        <div class="row">
                                            <!--depart address -->
                                            <div class="col-sm-3">
                                                <div class="container text-secondary mx-0 px-0">
                                                    <p class="text-primary text-start small mb-0">From:</p>
                                                    <p class="text-start small mb-0">{{ t.depart.street }}</p>
                                                    <p class="text-start small mb-0">{{ t.depart.city }}</p>
                                                    <p class="text-start small mb-0">{{ t.depart.zipcode }}</p>
                                                </div>
                                            </div>

                                            <!--destination address -->
                                            <div class="col-sm-3">
                                                <div class="container text-secondary mx-0 px-0">
                                                    <p class="text-primary text-start small mb-0">To:</p>
                                                    <p class="text-start small mb-0">{{ t.destination.street }}</p>
                                                    <p class="text-start small mb-0">{{ t.destination.city }}</p>
                                                    <p class="text-start small mb-0">{{ t.destination.zipcode }}</p>
                                                </div>
                                            </div>

                                            <!--vehicle data -->
                                            <div class="col-sm-3">
                                                <div class="container text-secondary mx-0 px-0">
                                                    <p class="text-primary text-start small mb-0">Vehicle:</p>
                                                    <p class="text-start small mb-0">{{ t.vehicle.make }}</p>
                                                    <p class="text-start small mb-0">{{ t.vehicle.model }}</p>
                                                    <p class="text-start small mb-0">{{ t.vehicle.get_engine_display }}
                                                    </p>
                                                </div>
                                            </div>

                                            <!--drivers data  -->
                                            <div class="col-sm-3">
                                                <div class="container text-secondary mx-0 px-0">
                                                    <p class="text-primary text-start small mb-0">Driver: 
                                                        <span>
                                                            {% if t.driver.contactable %}
                                                            Tel: {{ t.driver.phone }}
                                                            {% else %}
                                                            Tel: - not shared -
                                                            {% endif %}
                                                        </span>
                                                    </p>
                                                    <p class="text-start small mb-0">{{ t.driver }}
                                                        <span name="rating">
                                                            {% if average_rating == 1 %}
                                                            <div name="stars"></div>
                                                            <span class="text-warning">
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </span>
                                                            {% elif average_rating == 2 %}
                                                            <span class="">
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </span>
                                                            {% elif average_rating == 3 %}
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </span>
                                                            {% elif average_rating == 4 %}
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </span>
                                                            {% elif average_rating == 5 %}
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                            </span>
                                                            {% endif %}
                                                        </span>
                                                    </p>
                                                    <p class="text-primary text-start small mb-0">Hitchers:</p>
                                                    <p class="text-start small mb-0">{{ t.driver }}
                                                        <span name="rating">
                                                            {% if average_rating == 1 %}
                                                            <div name="stars"></div>
                                                            <span class="text-warning">
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </span>
                                                            {% elif average_rating == 2 %}
                                                            <span class="">
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </span>
                                                            {% elif average_rating == 3 %}
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </span>
                                                            {% elif average_rating == 4 %}
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-regular fa-star"></i>
                                                            </span>
                                                            {% elif average_rating == 5 %}
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                            </span>
                                                            {% endif %}
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <!-----------      MIDDLE ROW        ---------->
                                <div class="row">
                                    <div class="col-sm-12">

                                    </div>
                                </div>
                                <!-- BOTTOM ROW -->
                                <div class="row">
                                    <div class="col-sm-6 px-0">
                                        {% if t.recurring  %}
                                        <div class="d-flex justify-content-start">
                                            <span id="weekday_pills">
                                                {% if t.mon  %}
                                                <span CLASS="badge bg-success rounded-pill">MON</span>
                                                {% else %}
                                                <span CLASS="badge bg-secondary rounded-pill">MON</span>
                                                {% endif %}
                                                {% if t.tue  %}
                                                <span CLASS="badge bg-success rounded-pill">TUE</span>
                                                {% else %}
                                                <span CLASS="badge bg-secondary rounded-pill">TUE</span>
                                                {% endif %}
                                                {% if t.wed  %}
                                                <span CLASS="badge bg-success rounded-pill">WED</span>
                                                {% else %}
                                                <span CLASS="badge bg-secondary rounded-pill">WED</span>
                                                {% endif %}
                                                {% if t.thu  %}
                                                <span CLASS="badge bg-success rounded-pill">THU</span>
                                                {% else %}
                                                <span CLASS="badge bg-secondary rounded-pill">THU</span>
                                                {% endif %}
                                                {% if t.fri  %}
                                                <span CLASS="badge bg-success rounded-pill">FRI</span>
                                                {% else %}
                                                <span CLASS="badge bg-secondary rounded-pill">FRI</span>
                                                {% endif %}
                                                {% if t.sat  %}
                                                <span CLASS="badge bg-success rounded-pill">SAT</span>
                                                {% else %}
                                                <span CLASS="badge bg-secondary rounded-pill">SAT</span>
                                                {% endif %}
                                                {% if t.sun  %}
                                                <span CLASS="badge bg-success rounded-pill">SUN</span>
                                                {% else %}
                                                <span CLASS="badge bg-secondary rounded-pill">SUN</span>
                                                {% endif %}

                                            </span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <form novalidate class="form-horizontal" action="{% url 'vehicles' %}" method="post"
                                    autocomplete="off">
                                    {% csrf_token %}
                                    {% if user.is_authenticated %}
                                    <div class="col">
                                        <button type="button" class="btn btn-primary my-1" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" data-bs-whatever="@gest">Request to Hitch
                                            a
                                            Ride!</button>
                                    </div>
                                    {% else%}
                                    <div class="col">
                                        <a class="btn btn-primary my-1" data-bs-toggle="collapse"
                                            href="{% url 'account_login' %}" role=" button">Sign In to request a
                                            ride</a>
                                    </div>
                                    {% endif%}
                                </form>

                            </div>
                        </div>
                    </div>


                    {% endfor %}
                </form>
            </div>
        </div>

    </div>
</div>
</div>



{% endblock %}