{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}

<div class="alert alert-dark" role="alert">
  <h1>USER PROFILE</h1>
</div>

<div class="container-xl px-4 mt-4">
  
  <!-- Account page navigation-->
  <nav class="nav nav-borders">
      <a class="nav-link active ms-0" href="{% url 'user_profile' %}">Profile</a>
      <a class="nav-link" href="{% url 'vehicles' %}" >Vehicles</a>
  </nav>
  <hr class="mt-0 mb-4">
  
  <div class="row">
      
      <div class="col-xl-8">
          <!-- Account details card-->
          <div class="card mb-4">
              <div class="card-header">Account Details for {{ username }}</div>
              <div class="card-body">
                  <form class="form-horizontal" action="{% url 'user_profile' %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    
                    <div class = "row mb-2">
                      <div class="col-6">{{ form.first_name|as_crispy_field }}</div>
                      <div class="col-6">{{ form.last_name|as_crispy_field }}</div>
                    </div>
                    <div class = "row mb-2">
                      <div class="col-6">{{ form.email|as_crispy_field }}</div>
                    </div>
                    <div class = "row mb-2">
                      <div class="col-6">{{ form.DOB|as_crispy_field }}</div>
                      <div class="col-6">{{ form.DL_date|as_crispy_field }}</div>
                    </div>
                    <div class = "row mb-2">
                      <div class="col-12">{{ form.adr_street|as_crispy_field }}</div>
                    </div>
                    <div class = "row mb-2">
                      <div class="col-6">{{ form.adr_city|as_crispy_field }}</div>
                      <div class="col-6">{{ form.adr_zip|as_crispy_field }}</div>
                    </div>
                    <div class = "row mb-2">
                      <div class="col-6">{{ form.adr_country|as_crispy_field }}</div>
                    </div>
                    <div class = "row mb-2">
                      <div class="col-6">{{ form.phone|as_crispy_field }}</div>
                      <div class="col-6">{{ form.contactable|as_crispy_field }}</div>
                    </div>

                      
                      <!-- Save changes button-->
                      <button class="btn btn-primary mt-3" name="save" type="submit">Save changes</button>

                  </form>
              </div>
          </div>
      </div>

      <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
                <!-- Profile picture image-->
                <img class="img-account-profile rounded-circle mb-2 img-fluid" src="https://res.cloudinary.com/dd9slw6f0/image/upload/v1705065227/avatar-default.494x512_clz14a.png" alt="generic avatar picture">
                <!-- Profile picture help block-->
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                <!-- Profile picture upload button-->
                <button class="btn btn-primary" type="button">Upload new image</button>
            </div>
        </div>
    </div>
  </div>
</div>



{% endblock %}
