{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% crispy message_form %}
{% load customfilters %}
{% load star_rating_tags %}


{% block content %}

<div class="container-fluid sticky-top">
  <div class="row">
    <div class="col-12 bg-light gx-0 ">
      <div class="px-3 py-0 d-sm-flex justify-content-between align-items-center mt-auto border-bottom shadow">
        YOUR LIST OF TRIPS
        <form method="get" action="{% url 'user_trips' %}" class="d-flex mt-3" id="filterForm">
          {% csrf_token %}
          <span class="mt-2 me-1">REGION:</span>{{ region_filter_form|crispy }}
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container px-1">

  <div class="row mt-3">
    <div class="col-sm-12">

      <div class="row">
        {% for s, driver, rating, hitchers_ratings_list in detailed_sorted_list %}

        <div class="col-sm-6">
          <!-- change this to 12 for 1 column-->

          <div class="card my-2 bg-light">
            <div class="card-body">

              <!------ PILL TRIP TYPE LABEL------>
              {% if s.is_ride %}
              <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-success">
                <i class="fa-solid fa-car"></i> RIDE
              </span>
              {% else %}
              <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-warning">
                <i class="fa-solid fa-thumbs-up"></i> HITCH
              </span>
              {% endif %}

              <!------   mini card title    ------>
              <div class="row">
                <div class="col-md-12">







                  <form method="post" action="{% url 'account_login' %}?next={{ request.path }}">
                    {% csrf_token %}
                    <div class="card-title h4 d-flex justify-content-between">
                      <div>
                        <span class="badge bg-secondary">{{ s.depart_date|DM }}</span>
                        <span class="badge bg-secondary">{{ s.depart_time|HHMM }}</span>
                      </div>

                      <div>
                        <span>
                          <button type="submit" name="edit" value="{{ s.id }}" id="editBtn-{{ s.id }}"
                            class="btn badge bg-secondary">
                            <i class="fa-solid fa-gear"></i>
                          </button>

                          <button type="submit" name="delete" value="{{ s.id }}" id="deleteBtn-{{ s.id }}"
                            class="btn badge bg-danger">
                            <i class="fa-regular fa-trash-can"></i>
                          </button>
                        </span>
                      </div>

                    </div>
                  </form>








                  <div class="card-title h4">
                    <span class="text-secondary">{{ s.depart.stoptype.stop_icon|safe }}</span><span
                      class="ms-1">{{ s.depart.city }}</span> -
                    <span>{{ s.destination.city}}</span> <span
                      class="text-secondary">{{ s.destination.stoptype.stop_icon|safe }}</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <!------     mini card body     ------>
                  <div class="card-text">Driver: {{ driver }} {{ rating }}</div>
                  <div class="card-text">
                    Hitchers:
                    {% for hitcher, hitch_rating in hitchers_ratings_list %}
                    <div>
                      <button class="badge rounded-pill bg-success">
                        Confirm
                      </button>
                      {{ hitcher }} {% render_stars hitch_rating %}
                      <button class="badge rounded-pill bg-success">
                        <i class="fa-regular fa-message"></i>
                      </button>

                    </div>
                    {% empty %}
                    <div>
                      None confirmed
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

  </div>
</div>


{% endblock %}