{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% crispy message_form %}
{% load customfilters %}


{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 bg-light">
      <div class="px-3 py-0 d-sm-flex justify-content-between align-items-center mt-auto">
        YOUR LIST OF TRIPS
        <form method="get" action="{% url 'user_trips' %}" class="d-flex mt-3" id="filterForm">
          {% csrf_token %}
          <span class="mt-2 me-1">REGION:</span>{{ region_filter_form|crispy }}
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container px-1">


  <div class="row">
    <div class="col-sm-12">



      



      <div class="row">
        {% for s in sorted_list %}
        <div class="col-sm-6">
          <div class="card m-1  bg-light">
            <div class="card-body">
              <div class="card-title h4">Special title treatment</div>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>



      






    </div>


    <p>TEST SORTED COMBINED LIST</p>
    <div class="col">

      <ul>
        {% for s in sorted_list %}
        {% if s.is_ride %}
        <li>RIDE: {{ s.id }}: {{ s.depart_date }}</li>
        {% else %}
        <li>HITCH: {{ s.id }}: {{ s.depart_date }}</li>
        {% endif %}
        {% endfor %}
      </ul>

    </div>



  </div>
</div>


{% endblock %}