{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<!-- MODAL FOR VEHICLE EDIT-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="fs-5" id="exampleModalLabel">Add / Edit Vehicle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-4">
                    <div class="card-header">Vehicle Details</div>
                    <div class="card-body">
                        <form class="form-horizontal" action="{% url 'vehicles' %}" method="post" autocomplete="off">
                            {% csrf_token %}

                            <div class="row mb-2">
                                <div class="col-6">{{ form.make|as_crispy_field }}</div>
                                <div class="col-6">{{ form.model|as_crispy_field }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">{{ form.type|as_crispy_field }}</div>
                                <div class="col-6">{{ form.year|as_crispy_field }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">{{ form.engine|as_crispy_field }}</div>

                            </div>
                            <div class="row mb-2">
                                <div class="col-6">{{ form.max_pax|as_crispy_field }}</div>
                                <div class="col-6">{{ form.smoking|as_crispy_field }}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">{{ form.status|as_crispy_field }}</div>
                            </div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" name="save" class="btn btn-primary">Save</button>
                            <button class="btn btn-danger" name="delete">delete</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- END MODAL-->




<h1 class="text-center">YOUR VEHICLES</h1>

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="{% url 'user_profile' %}">Profile</a>
        <a class="nav-link" href="" target="__blank">Vehicles</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-12">
            <!-- Vehicle Form Section-->
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between">
                    <h3>Vehicle List</h3>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-bs-whatever="Edit">Add Vehicle</button>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>

                                <th class="d-none d-sm-table-cell" scope="col">Year</th>
                                <th scope="col">Make</th>
                                <th scope="col">Model</th>
                                <th class="d-none d-sm-table-cell" scope="col">Type</th>
                                <th scope="col">Engine</th>
                                <th scope="col">Max Pax</th>
                                <th class="d-none d-sm-table-cell" scope="col">Status</th>
                                <th scope="col">Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in vehicles %}
                            <tr>

                                <td class="d-none d-sm-table-cell">{{ v.year }}</td>
                                <td>{{ v.make }}</td>
                                <td>{{ v.model }}</td>
                                <td class="d-none d-sm-table-cell">{{ v.get_type_display }}</td>
                                <td>{{ v.get_engine_display }}</td>
                                <td>{{ v.max_pax }}</td>
                                <td class="d-none d-sm-table-cell">{{ v.get_status_display }}</td>
                                <td>
                                    <button name="edit" type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-bs-whatever="Edit">Edit</button>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}