{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<h1 class="text-center">YOUR VEHICLES</h1>

<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->
  <nav class="nav nav-borders">
      <a class="nav-link active ms-0" href="{% url 'user_profile' %}">Profile</a>
      <a class="nav-link" href="" target="__blank">Vehicles</a>
  </nav>
  <hr class="mt-0 mb-4">
  <div class="row">
      <div class="col-xl-8">
          <!-- Vehivle Form Section-->
          <div class="card mb-4">
              <div class="card-header">Vehicle Details</div>
              <div class="card-body">
                <form class="form-horizontal" action="{% url 'vehicles' %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    
                    <div class = "row mb-2">
                      <div class="col-6">{{ form.make|as_crispy_field }}</div>
                      <div class="col-6">{{ form.model|as_crispy_field }}</div>
                    </div>
                    <div class = "row mb-2">
                      <div class="col-6">{{ form.type|as_crispy_field }}</div>
                      <div class="col-6">{{ form.year|as_crispy_field }}</div>
                    </div>
                    <div class = "row mb-2">
                      <div class="col-6">{{ form.engine|as_crispy_field }}</div>
                      
                    </div>
                    <div class = "row mb-2">
                        <div class="col-6">{{ form.max_pax|as_crispy_field }}</div>
                        <div class="col-6">{{ form.smoking|as_crispy_field }}</div>
                    </div>
                    
                      <!-- Save changes button-->
                      <button class="btn btn-primary mt-3" name="save" type="submit">Add New Vehicle</button>

                  </form>  
              </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">Vehicle List</div>
            <div class="card-body">
                <form>



                </form>    
            </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
