{% load static %}
{% url 'rides_view' as rides_url %}
{% url 'about' as about_url %}
{% url 'hitches' as hitches_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'user_trips' as user_trips_url %}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Hitch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A ridesharing community to help our environment and decongest our roads.">
    <meta name="keywords" content="Ride, Environment, Eco Friendly, Hitch, Hitchhiking, Ridesharing, HOV lane">
    <meta name="author" content="LimeyDeveloper">

    <!-- FAVICON -->
    <link rel="icon" href="{% static 'favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center bg-dark sticky-top">
        <a class="logo img-fluid ms-3"  href="/">
            <img src="{% static 'images/hitch-logo-bg.png' %}" alt="Hitch Logo" width="42" height="42">
        </a>
        <a href="/" class="navbar-brand d-flex w-50 mr-auto ms-1" href="{% url 'rides_view' %}">
            Hitch
            <i class="fa-solid fa-thumbs-up"></i>
            <span class="h6 text-muted ms-3 d-none d-sm-block">a ridesharing community.</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link {% if request.path == about_url %} active" aria-current="page{% endif %}"
                        href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == rides_url %} active" aria-current="page{% endif %}"
                        href="{% url 'rides_view' %}">Rides</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == hitches_url %} active" aria-current="page{% endif %}"
                        href="{% url 'hitches' %}">Hitches</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == user_trips_url %} active" aria-current="page{% endif %}"
                        href="{% url 'user_trips' %}">Your Trips</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                        href="{% url 'account_logout' %}">Sign Out</a>
                </li>
                <li class="nav-item nolink">
                    <a class="nav-link d-none d-sm-block" aria-current="welcome back message"
                        href="{% url 'user_profile' %}">Welcome,
                        {{ username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == hitches_url %} active" aria-current="page{% endif %}"
                        href="{% url 'user_profile' %}"><i class="fa-solid fa-gear h3"></i></a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                        href="{% url 'account_signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                        href="{% url 'account_login' %}">Sign In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="flex-shrink-0 main-bg">
        <!-- site message alert -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
            <strong>MESSAGE:</strong> {{ message }}
        </div>
        {% endfor %}
        {% endif %}


        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 fs-4">

        <p class="m-0 text-center">Follow us:
            <a class="fab fa-facebook-square ms-3 text-decoration-none link-dark" href="https://www.facebook.com/"
                target="_blank" rel="noopener" aria-label="Visit our Facebook community (opens in a new tab)"></a>
            <a class="fa-brands fa-square-x-twitter ms-3 text-decoration-none link-dark" href="https://www.twitter.com/"
                target="_blank" rel="noopener" aria-label="Visit our Twitter page (opens in a new tab)"></a>
            <a class="fab fa-instagram-square ms-3 text-decoration-none link-dark" href="https://www.instagram.com/"
                target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"></a>
            <a class="fab fa-youtube-square ms-3 text-decoration-none link-dark" href="https://www.youtube.com/"
                target="_blank" rel="noopener" aria-label="Visit our YouTube page (opens in a new tab)"></a>
        </p>
    </footer>

    <span class="text-center">&#169; 2024 Alex Hoenig</span>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <script src="https://kit.fontawesome.com/47b432aa42.js" crossorigin="anonymous"></script>
    
    <script defer src="{% static 'js/script.js' %}"></script>

</body>


</html>