
{% load crispy_forms_tags %}
{% load static %}


{% block vehicle %}
                
<div class="card mb-4">
    <div class="card-header">Vehicle Details</div>
    <div class="card-body">
        <form class="form-horizontal" action="{% url 'vehicles' %}" method="post" autocomplete="off">
            {% csrf_token %}

            <div class="row mb-2">
                <div class="col-6">{{ form.make|as_crispy_field }}</div>
                <div class="col-6">{{ form.model|as_crispy_field }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-6">{{ form.type|as_crispy_field }}</div>
                <div class="col-6">{{ form.year|as_crispy_field }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-6">{{ form.engine|as_crispy_field }}</div>

            </div>
            <div class="row mb-2">
                <div class="col-6">{{ form.max_pax|as_crispy_field }}</div>
                <div class="col-6">{{ form.smoking|as_crispy_field }}</div>
            </div>

            <!-- Save changes button-->
            <button class="btn btn-primary mt-3" name="save" type="submit">Update Details</button>
            <button class="btn btn-danger mt-3" name="delete" type="submit">Delete Vehicle</button>

        </form>
    </div>
</div> 

{% endblock vehicle %}